[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gnome-terminal --window-with-profile=CeWL
Hidden=false
Icon=gnome-panel-launcher
Icon[en_US]=gnome-panel-launcher
Name=CeWL
Name[en_US]=CeWL
Terminal=false
Type=Application
Version=1.0
