[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gnome-terminal --window-with-profile=Durzosploit
Hidden=false
Icon=gnome-terminal
Name=Durzosploit
Terminal=true
Type=Application
Version=1.0
