[Desktop Entry]
Categories=;
Encoding=UTF-8
Hidden=false
Name=Fierce Domain Scanner
Terminal=false
Type=Application
Version=1.0
Icon=/home/samurai/icons/fierce-icon.png
Exec=gnome-terminal --window-with-profile=Fierce
