[Desktop Entry]
Categories=;
Encoding=UTF-8
Hidden=false
Name=Flare
Terminal=false
Type=Application
Version=1.0
Icon=gnome-terminal
Exec=gnome-terminal --window-with-profile=Flare
