[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gnome-terminal --window-with-profile=Gooscan
Hidden=false
Icon=gnome-terminal
Name=Gooscan
Terminal=false
Type=Application
Version=1.0
