[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/home/samurai/tools/Grendel-Scan.sh
Hidden=false
Icon=gnome-panel-launcher
Icon[en_US]=gnome-panel-launcher
Name=Grendel-Scan
Name[en_US]=Grendel-Scan
Terminal=false
Type=Application
Version=1.0
