[Desktop Entry]
Categories=;
Comment=Maltego CE
Encoding=UTF-8
Exec=/home/samurai/tools/maltego.sh
GenericName=
Hidden=false
Icon=/home/samurai/icons/maltego-icon.png
MimeType=
Name=Maltego CE
Path=/usr/bin/samurai/Maltego/v2.0.2CE/bin
X-KDE-SubstituteUID=false
X-KDE-Username=root
