[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/home/samurai/tools/paros.sh
Hidden=false
Icon=/home/samurai/icons/paros.png
Name=Paros Proxy
Terminal=false
Type=Application
Version=1.0
