[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/home/samurai/tools/proxystrike.sh
Hidden=false
Icon=nautilus
Name=ProxyStrike
Terminal=false
Type=Application
Version=1.0
