[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/home/samurai/tools/proxystrike.sh
Hidden=false
Icon=nautilus
Icon[en_US]=nautilus
Name=ProxyStrike
Name[en_US]=ProxyStrike
Terminal=false
Type=Application
Version=1.0
