[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gnome-terminal --window-with-profile=RatProxy
Hidden=false
Name=RatProxy
Terminal=true
Type=Application
Version=1.0
Icon=/home/samurai/icons/ratproxy-icon.png
