[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gnome-terminal --window-with-profile=SQLmap
Hidden=false
Icon=/home/samurai/icons/sqlmap-icon.png
Name=SQLmap
Terminal=true
Type=Application
Version=1.0
