[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gnome-terminal --window-with-profile=SQLmap
Hidden=false
Icon=gnome-brightness-applet
Icon[en_US]=gnome-brightness-applet
Name=SQLmap
Name[en_US]=SQLmap
Terminal=true
Type=Application
Version=1.0
