[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/home/samurai/tools/w3af.sh
Hidden=false
Name=w3af
Name[en_US]=w3af
Terminal=true
Type=Application
Version=1.0
Icon=/usr/bin/samurai/w3af/core/ui/gtkUi/data/w3af_logo.png
