[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gnome-terminal --window-with-profile=Wapiti
Hidden=false
Icon=/home/samurai/icons/wapiti-icon.png
Name=Wapiti
Terminal=false
Type=Application
Version=1.0
