[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gksudo zenmap
Hidden=false
Icon=/home/samurai/icons/zenmap.png
Name=ZenMap (as root)
Terminal=false
Type=Application
Version=1.0
