[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gksudo zenmap
Hidden=false
Icon=/usr/local/share/zenmap/pixmaps/zenmap.png
Icon[en_US]=/usr/local/share/zenmap/pixmaps/zenmap.png
Name=ZenMap (as root)
Name[en_US]=ZenMap (as root)
Terminal=false
Type=Application
Version=1.0
