[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/home/samurai/tools/burpsuite.sh
Hidden=false
Icon=/home/samurai/icons/burpsuite-icon.png
Name=BurpSuite
Terminal=false
Type=Application
Version=1.0
