[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gnome-terminal --window-with-profile=CeWL
Hidden=false
Icon=gnome-terminal
Name=CeWL
Terminal=false
Type=Application
Version=1.0
