[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/home/samurai/tools/DirBuster.sh
Hidden=false
Icon=/home/samurai/icons/dirbuster-icon.png
Name=DirBuster
Terminal=false
Type=Application
Version=1.0
