[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=gnome-terminal --window-with-profile=GPScan
Name=GPScan
Icon=gnome-terminal
