[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/home/samurai/tools/Grendel-Scan.sh
Hidden=false
Icon=/home/samurai/icons/grendel-scan-icon.png
Name=Grendel-Scan
Terminal=false
Type=Application
Version=1.0
