[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/home/samurai/tools/jbrofuzz.sh
Hidden=false
Icon=/home/samurai/icons/jbrofuzz.png
Name=JBroFuzz
Terminal=false
Type=Application
Version=1.0
