[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gnome-terminal --window-with-profile=Nikto
Hidden=false
Icon=gnome-panel-launcher
Icon[en_US]=gnome-panel-launcher
Name=Nikto
Name[en_US]=Nikto
Terminal=false
Type=Application
Version=1.0
