[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gnome-terminal --window-with-profile=SQLBrute
Hidden=false
Icon=/home/samurai/icons/sqlbrute-icon.png
Name=SQLBrute
Terminal=false
Type=Application
Version=1.0
