[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=gnome-terminal --window-with-profile=SQLninja
Hidden=false
Icon=tracker
Name=SQLninja
Terminal=true
Type=Application
Version=1.0
