[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/home/samurai/tools/w3af-gui.sh
Hidden=false
Name=w3af GUI
Terminal=false
Type=Application
Version=1.0
Icon=/home/samurai/icons/w3af-icon.png
