[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/home/samurai/tools/webscarab.sh
Hidden=false
Icon=/home/samurai/icons/webscarab.png
Name=WebScarab
Terminal=false
Type=Application
Version=1.0
