[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/home/samurai/tools/webshag.sh
Hidden=false
Icon=gnome-panel-launcher
Icon[en_US]=gnome-panel-launcher
Name=WebShag
Name[en_US]=WebShag
Terminal=false
Type=Application
Version=1.0
