#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=/usr/bin/samurai_svn/scripts/cvs_webscarab.sh
Name=Webscarab CVS update (*)
Comment=Update to the latest Webscarab CVS revision
Icon=/home/samurai/icons/webscarab.png
