#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=/usr/bin/samurai_svn/bin/svn_restore_menu.sh
Name=SVN Restore
Comment=Script to restore a previous version of a tool
Icon=file-roller
