#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=/usr/share/icons/gnome/scalable/apps/gnome-terminal.svg
Name[en_US]=SVN Shell
Exec=/bin/bash --init-file /usr/bin/samurai_svn/bin/svn_shell.sh
Comment[en_US]=Script to set the PATH to the previous version of a tool
Name=SVN Shell
Comment=Script to set the PATH to the previous version of a tool
Icon=gnome-panel-launcher
