#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=/bin/bash --init-file /usr/bin/samurai_svn/bin/svn_shell.sh
Name=SVN Shell
Comment=Script to set the PATH to the previous version of a tool
Icon=gnome-terminal
