[Desktop Entry]
Categories=;
Encoding=UTF-8
Hidden=false
Name=Metasploit
Terminal=false
Type=Application
Version=1.0
Icon=/home/samurai/icons/metasploit-icon.png
Exec=gnome-terminal --window-with-profile=msf3
