#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=/usr/bin/samurai_svn/scripts/cvs_DirBuster.sh
Name=DirBuster CVS update (*)
Comment=Update to the latest DirBuster CVS revision
Icon=/home/samurai/icons/dirbuster-icon.png
