#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Name[en_US]=DirBuster CVS update (*)
Exec=/usr/bin/samurai_svn/scripts/cvs_DirBuster.sh
Comment[en_US]=Update to the latest DirBuster CVS revision
Icon[en_US]=/usr/share/icons/gnome/scalable/apps/zen-icon.svg
Name=DirBuster CVS update (*)
Comment=Update to the latest DirBuster CVS revision
Icon=/usr/share/icons/gnome/scalable/apps/zen-icon.svg
