#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Name[en_US]=Durzosploit SVN update
Exec=/usr/bin/samurai_svn/scripts/svn_durzosploit.sh
Comment[en_US]=Update to the latest Durzosploit SVN revision
Name=Durzosploit SVN update
Comment=Update to the latest Durzosploit SVN revision
Hidden=false
Icon=/usr/share/icons/gnome/scalable/apps/zen-icon.svg
Icon[en_US]=/usr/share/icons/gnome/scalable/apps/zen-icon.svg
